<h1>Roll the dice</h1>

<%
die1 = [1,2,3,4,5,6].sample
die2 = [1,2,3,4,5,6].sample
%>

<img src="http://golearntocode.com/images/dice/<%= die1 %>.png">
<img src="http://golearntocode.com/images/dice/<%= die2 %>.png">